.fa {
  padding: 40px;
  font-size: 60px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 1.0;
}
.fa-facebook {
  background: #3B5998;
  color: wheat;
}
.fa-whatsapp {
  background: #00ff26;
  color: wheat;
}
.fa-telegram {
  background: #0088CC;
  color: wheat;
}
.fa-instagram {
  background: #405DE6;
  color: wheat;
}
div.c {
  font-size: 20px;
  color: Wheat;
}
a.button {
background-color: brown;
color: white;
padding: 1.5em 1em;
text-decoration: none;
text-transform: uppercase;
}
a:hover {
background-color: #red;
}

a:active {
background-color: black;
}

a:visited {
background-color: yellow;
}
